<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <meta charset="UTF-8">
  <title><%= locals.title || "CoverLetterAI" %></title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://quantumone.b-cdn.net/images/favicon.ico">
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-steelblue-300 p-6">

        <div class="flex items-center flex-shrink-0 text-darkgray-300 mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="49" height="54" viewBox="0 0 152 168" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="3.205" x2="484.483" y1="508.795" y2="27.517" data-name="New Gradient Swatch 1" gradientUnits="userSpaceOnUse"><stop class="stopColor003f8a svgShape" offset="0" stop-color="#009c97"/><stop class="stopColor00d7df svgShape" offset=".518" stop-color="#00cfc8"/><stop class="stopColor006df0 svgShape" offset="1" stop-color="#03fff6"/></linearGradient><linearGradient id="b" x1="3.456" x2="484.734" y1="509.046" y2="27.768" xlink:href="#a"/></defs><path fill="url(#a)" d="M216,224v64a8,8,0,0,0,8,8h64a8,8,0,0,0,8-8V224a8,8,0,0,0-8-8H224A8,8,0,0,0,216,224Zm16,8h48v48H232Z"/><path fill="url(#b)" d="M380.03,118.95l56,32a8.03,8.03,0,0,0,7.94,0l56-32A8.019,8.019,0,0,0,504,112V49a8,8,0,0,0-3.94-6.89l-56-33a7.98,7.98,0,0,0-8.12,0l-56,33A8,8,0,0,0,376,49V72H304a8,8,0,0,0-8,8v46.01a136.116,136.116,0,0,0-80,0V80a8,8,0,0,0-8-8H136V49a8,8,0,0,0-3.94-6.89l-56-33a7.98,7.98,0,0,0-8.12,0l-56,33A8,8,0,0,0,8,49v63a8.019,8.019,0,0,0,4.03,6.95l56,32a8.03,8.03,0,0,0,7.94,0l56-32A8.019,8.019,0,0,0,136,112V88h64v44.07a135.992,135.992,0,0,0,0,247.86V424H136V401a8,8,0,0,0-3.94-6.89l-56-33a7.98,7.98,0,0,0-8.12,0l-56,33A8,8,0,0,0,8,401v63a8.019,8.019,0,0,0,4.03,6.95l56,32a8.03,8.03,0,0,0,7.94,0l56-32A8.019,8.019,0,0,0,136,464V440h72a8,8,0,0,0,8-8V385.99a136.116,136.116,0,0,0,80,0V432a8,8,0,0,0,8,8h72v24a8.019,8.019,0,0,0,4.03,6.95l56,32a8.03,8.03,0,0,0,7.94,0l56-32A8.019,8.019,0,0,0,504,464V401a8,8,0,0,0-3.94-6.89l-56-33a7.98,7.98,0,0,0-8.12,0l-56,33A8,8,0,0,0,376,401v23H312V379.93a135.992,135.992,0,0,0,0-247.86V88h64v24A8.019,8.019,0,0,0,380.03,118.95ZM488,107.36l-40,22.85V84.64l40-22.85ZM440,25.29l39.2,23.1L440,70.79l-39.2-22.4Zm-48,36.5,40,22.85v45.57l-40-22.85ZM64,130.21,24,107.36V61.79L64,84.64Zm8-59.42L32.8,48.39,72,25.29l39.2,23.1Zm48,36.57L80,130.21V84.64l40-22.85ZM64,482.21,24,459.36V413.79l40,22.85Zm8-59.42-39.2-22.4L72,377.29l39.2,23.1Zm48,36.57L80,482.21V436.64l40-22.85Zm368,0-40,22.85V436.64l40-22.85Zm-48-82.07,39.2,23.1L440,422.79l-39.2-22.4Zm-48,36.5,40,22.85v45.57l-40-22.85ZM376,256A120,120,0,1,1,256,136,120.134,120.134,0,0,1,376,256Z"/><path fill="url(#a)" d="M336,264H320V248h16a8,8,0,0,0,0-16H320V216h8a8,8,0,0,0,0-16h-8a8,8,0,0,0-8-8v-8a8,8,0,0,0-16,0v8H280V176a8,8,0,0,0-16,0v16H248V176a8,8,0,0,0-16,0v16H216v-8a8,8,0,0,0-16,0v8a8,8,0,0,0-8,8h-7a8,8,0,0,0,0,16h7v16H176a8,8,0,0,0,0,16h16v16H176a8,8,0,0,0,0,16h16v16h-8a8,8,0,0,0,0,16h8a8,8,0,0,0,8,8v8a8,8,0,0,0,16,0v-8h16v16a8,8,0,0,0,16,0V320h16v16a8,8,0,0,0,16,0V320h16v8a8,8,0,0,0,16,0v-8a8,8,0,0,0,8-8h7a8,8,0,0,0,0-16h-7V280h16a8,8,0,0,0,0-16Zm-32,40H208V208h96Z"></svg>
            <span class="font-semibold text-xl tracking-tight">Create cover letters in seconds</span>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-black-300 hover:text-white mr-4">Home</a>
                <% if (locals.user) { %>
                    <a  href="/profile" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-black-300 hover:text-white mr-4">Profile</a>
                    <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-black-300 hover:text-white mr-4">Logout</a>
                <% } else { %>
                    <a  href="/login" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-bacl-300 hover:text-white mr-4">Login</a>
                <% } %>
            </div>

            <div>
                <a  href="https://github.com/rmourey26/coverletterai-webapp" 
                    target="blank"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    <span class="font-semibold text-xl tracking-tight">GitHub</span>
                    
                </a>
            </div>
        </div>
    </nav>
    <div class="flex justify-center py-4">
            <div class="w-5/6 lg:w-3/4 bg-white p-4 rounded overflow-hidden shadow-lg">
                
